.wrapper {
  header {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  main {
    height: var(--header-height);
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-x-gutter);

    ul {
      list-style: none;

      li + li {
        margin-top: 3rem;
      }

      li:hover strong {
        color: var(--color-highlight);
      }

      a {
        text-decoration: none;
      }

      strong {
        transition: color 250ms;

        color: var(--color-text-heading);
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.25rem;
      }

      p {
        margin: 0.5rem 0 1.5rem;

        color: var(--color-text-body);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25rem;
      }

      small {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        color: var(--color-text-info);
        font-size: 0.875rem;
        font-weight: 400;

        p {
          display: flex;
          align-items: center;
          margin: 0;

          color: inherit;
          font-size: inherit;
          font-weight: inherit;
        }

        svg {
          margin-right: 0.5rem;
        }
      }
    }

    button {
      display: inline;
      margin-top: 4rem;
      border: 0;
      background-color: transparent;

      color: var(--color-highlight);
      font-style: 1.125rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 1.5px;
      }
    }
  }
}
